In [1]:
import os
import pandas as pd

import sys; sys.path.append("..") # Adds parent directory to python modules path.
from topdown_parsers import *

In [2]:
reconstructions_dir_name = "./Reconstructed/Texas_Armstrong County"
save_fp = "armstrong.dat"

In [3]:
convert_reconstructions_to_ipums(reconstructions_dir_name, save_fp)

Reading files...
Completed reading files
Grouping the data at a block level...
Finished grouping the data.

In [4]:
def num_lines_by_type(filename):
    """ Returns the number of Household lines and Person Lines in the file
        named  `filename`
    """
    h_lines = 0
    p_lines = 0

    with open(filename, "r") as file:
        for line in file:
            if line[0] == "H":
                h_lines += 1
            elif line[0] == "P":
                p_lines += 1

    return h_lines, p_lines

In [5]:
num_lines_by_type(save_fp)

(478, 1901)

In [ ]:
# write tests
"""
same number of fields
all fields do exist

"""

In [ ]:
s = "abcdef"
s[3:]

In [6]:
df = read_df_1940("../../ARMSTRONG.ini/output_1/MDF_PER_CLEAN.dat")

In [7]:
df["tract"] = df["ENUMDIST"].astype(str).str[:4]

In [ ]:
df["ENUMDIST"]

In [8]:
df["bg"] = df["ENUMDIST"].astype(str).str[4]

In [11]:
df["block"] = df["ENUMDIST"].astype(str).str[5:]

In [12]:
df.sort_values(by=["TABBLKST", "TABBLKCOU", "tract", "bg", "block"])

,SCHEMA_TYPE_CODE,SCHEMA_BUILD_ID,TABBLKST,TABBLKCOU,ENUMDIST,EUID,EPNUM,RTYPE,QREL,QSEX,QAGE,CENHISP,CENRACE,QSPANX,QRACE1,QRACE2,QRACE3,QRACE4,QRACE5,QRACE6,QRACE7,QRACE8,CIT,tract,bg,block
503,MPD1940,3.1.4,48,119,950111009,162,1,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,1,1009
187,MPD1940,3.1.4,48,119,950111013,164,1,3,99,9,18,2,1,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,1,1013
188,MPD1940,3.1.4,48,119,950111013,164,2,3,99,9,18,2,1,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,1,1013
189,MPD1940,3.1.4,48,119,950111013,164,3,3,99,9,18,2,1,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,1,1013
190,MPD1940,3.1.4,48,119,950111013,164,4,3,99,9,18,2,1,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,1,1013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,MPD1940,3.1.4,48,119,950133454,476,3,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,3,3454
217,MPD1940,3.1.4,48,119,950133454,476,4,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,3,3454
1793,MPD1940,3.1.4,48,119,950133454,477,1,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,3,3454
1794,MPD1940,3.1.4,48,119,950133454,477,2,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,3,3454
1795,MPD1940,3.1.4,48,119,950133454,477,3,3,99,9,18,1,2,9999,9999,9999,9999,9999,9999,9999,9999,9999,9,9501,3,3454

In [13]:
df.groupby(["TABBLKST", "TABBLKCOU", "tract", "bg", "block"]).count()

                                   SCHEMA_TYPE_CODE  SCHEMA_BUILD_ID  \
TABBLKST TABBLKCOU tract bg block
48       119       9501  1  1009                  1                1
                            1013                 12               12
                            1015                 19               19
                            1025                  9                9
                            1028                  2                2
...                                             ...              ...
                         3  3409                  2                2
                            3413                  5                5
                            3439                  1                1
                            3452                  1                1
                            3454                 11               11

                                   ENUMDIST  EUID  EPNUM  RTYPE  QREL  QSEX  \
TABBLKST TABBLKCOU tract bg block
48       119       9501  1  1009          1     1      1      1     1     1
                            1013         12    12     12     12    12    12
                            1015         19    19     19     19    19    19
                            1025          9     9      9      9     9     9
                            1028          2     2      2      2     2     2
...                                     ...   ...    ...    ...   ...   ...
                         3  3409          2     2      2      2     2     2
                            3413          5     5      5      5     5     5
                            3439          1     1      1      1     1     1
                            3452          1     1      1      1     1     1
                            3454         11    11     11     11    11    11

                                   QAGE  CENHISP  CENRACE  QSPANX  QRACE1  \
TABBLKST TABBLKCOU tract bg block
48       119       9501  1  1009      1        1        1       1       1
                            1013     12       12       12      12      12
                            1015     19       19       19      19      19
                            1025      9        9        9       9       9
                            1028      2        2        2       2       2
...                                 ...      ...      ...     ...     ...
                         3  3409      2        2        2       2       2
                            3413      5        5        5       5       5
                            3439      1        1        1       1       1
                            3452      1        1        1       1       1
                            3454     11       11       11      11      11

                                   QRACE2  QRACE3  QRACE4  QRACE5  QRACE6  \
TABBLKST TABBLKCOU tract bg block
48       119       9501  1  1009        1       1       1       1       1
                            1013       12      12      12      12      12
                            1015       19      19      19      19      19
                            1025        9       9       9       9       9
                            1028        2       2       2       2       2
...                                   ...     ...     ...     ...     ...
                         3  3409        2       2       2       2       2
                            3413        5       5       5       5       5
                            3439        1       1       1       1       1
                            3452        1       1       1       1       1
                            3454       11      11      11      11      11

                                   QRACE7  QRACE8  CIT
TABBLKST TABBLKCOU tract bg block
48       119       9501  1  1009        1       1    1
                            1013       12      12   12
                            1015       19      19   19
                            1025        9       9    9
                            1028        2       2    2
...                                   ...     ...  ...
                         3  3409        2       2    2
                            3413        5       5    5
                            3439        1       1    1
                            3452        1       1    1
                            3454       11      11   11

[235 rows x 21 columns]

In [15]:
og_df = read_reconstructions(reconstructions_dir_name)
og_df.groupby(["tract", "bg", "block"]).count()

                sex  age  ethn  GEOID  NAME  race  sol  county  state  \
tract bg block
9501  1  1009     5    5     5      5     5     5    5       5      5
         1013    12   12    12     12    12    12   12      12     12
         1015    25   25    25     25    25    25   25      25     25
         1025    16   16    16     16    16    16   16      16     16
         1028    10   10    10     10    10    10   10      10     10
...             ...  ...   ...    ...   ...   ...  ...     ...    ...
      3  3409     7    7     7      7     7     7    7       7      7
         3413     7    7     7      7     7     7    7       7      7
         3439     3    3     3      3     3     3    3       3      3
         3452     2    2     2      2     2     2    2       2      2
         3454    15   15    15     15    15    15   15      15     15

                enumdist
tract bg block
9501  1  1009          5
         1013         12
         1015         25
         1025         16
         1028         10
...                  ...
      3  3409          7
         3413          7
         3439          3
         3452          2
         3454         15

[235 rows x 10 columns]